/* kalau tidak paham cara design, kita bsa dgn cara bodoh
yaitu dengan print keluar dgn warna dan huruf */

/* this is learning box model*/

/*p,a{ 
    margin: 20px ;  utk di luar border
    padding: 50px;  utk di dlm border
    border: 1px solid ;
    display: inline-block;  inline block bertujuan utk meminimal tempat agar 
    tidak perlu mengambil full width dari suatu element, kalau mau ambil full width bisa dengan tulis 'block' saja
}  */

/* this is learning float*/

.wrapper {
  background: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.picture {
  float: left; /* this is where i can play the position of the img */
  margin: 10px;
}

.blue {
  background: blue;
  float: right; /*the things will go right and the red and the under things will go up*/
}

.red {
  background: red;
  float: right;
}

.green {
  background: green;
}

.box {
  height: 100px;
  width: 100px;
}

.service h2,
.service p {
  color: #999;
  margin: 10px 0;
  text-align: center;
}

.service {
  float: left;
  background: #eee;
  width: 29.33%;
  margin: 1%; /* di luar border*/
  padding: 1%; /* di dlm border*/
  height: 140px;
  position: relative; /* offside the document flow*/
}

.service:nth-child(1) {
  top: 5px;
}

.service:nth-child(2) {
  background: bisque;
  right: 50px;
  top: 15px;
}

.service:nth-child(3) {
  top: 25px;
  right: 79px;
}

.content {
  padding: 10px;
  background: #ccc;
  clear: left; /* karena barangnya di kiri*/
  margin-top: 100px; /* kalau tidak gunakan pseduo code , gk akan jln*/
}

.content p {
  -webkit-column-count: 3; /* untuk buat jadi bagian, ad bbrp website tidak bsa baca jdi pakai webkit*/
  column-count: 3;
  -webkit-column-gap: 50px; /* sesuai namanya , kita kasih gap di bagian ksong*/
  column-gap: 50px;
  -webkit-column-rule: 1px solid #999;
  column-rule: 1px solid #999;
  text-align: justify; /* merapikan biar sebaris semua*/
}

.services:after {
  /* ini adalah pseudo code */
  content: "hello";
  background: red;
  display: block;
  clear: both; /*kita kembalikan document flow ke titik awal dgn cara clear both di pseudo code,
    jadi kita bsa gunakan margin lagi di bagian .content*/
}

section,
aside {
  float: left;
  width: 46%;
  padding: 1%;
  margin: 1%;
  background: #f2f2f2;
}

.columns:after {
  content: "hello again";
  background: red;
  display: block;
  clear: both;
}

/* tujuan absolute adalah kita bisa membuat text ada di dlm foto,
tetapi dgn cara membuat element yg ada di position absolute utk melekat pada element yang ad 
di position relative */

#banner {
  max-height: 500px; /* tujuan max height adalh tinggi max dari sebuah element, 
  jadi barang di bawah bisa timpa elememnt yg melewati max-height*/
  overflow: hidden; /* menutupi element yg melewati batas max-height*/
  margin: 1%;
  position: relative; /*sebagai tumpu utk position absolute*/
}

#banner h2 {
  position: absolute; /* kita dapat memposisikan element absolutly di halaman web kita*/
  top: 250px;
  margin: 0;
  width: 100%; /*dgn width segini baru bsa text-align center*/
  background-color: #999;
  text-align: center;
}

#banner p {
  position: absolute; /* karena kita di dlm div, jadinya kita bsa terikat dgn relative banner*/
  top: 300px;
  margin: 0;
  width: 100%;
  background-color: #999;
  text-align: center;
}
